In [2]:
import numpy as np
numbers = np.linspace(1, 19, 10, dtype=int)
print(numbers)

[ 1  3  5  7  9 11 13 15 17 19]

In [3]:
list1 = [20, 30, 22, 104, 125, 15]
print(list1[2:-2])

[22, 104]

In [4]:
print(list("1+2+3+4".split('+')))

['1', '2', '3', '4']

In [6]:
a = np.array([1, 3, 2, 5, 4, 10, 9])
odds = a[a%2==1]
print(odds)

[1 3 5 9]

In [8]:
#What is the output?
def printing(a, *b):
    print(type(a), type(b))

printing('apples', 'bananas', 'cherry', 'orange')

<class 'str'> <class 'tuple'>

In [9]:
employees = {12:'Luong', 3:'Son', 6:'Trung', 5:'Linh', 10:'Minh', 2:'Anh' }
first = max(employees, key=employees.get)
print('First employee:', employees[first])

First employee: Trung

In [10]:
room = {"Emma":309, "Jake":582, "Olivia":764}
for r in room:
    print(r)

Emma
Jake
Olivia

In [11]:
import numpy as np
a = np.array([[1,2,3],[0,1,4]])
print (a[1,-2])

1

In [12]:
values = [1, 2, 3, 4]
sqrs = map(lambda x: x**2, values)
print(list(sqrs))

[1, 4, 9, 16]

In [13]:
str = 'hello python world'
print(str[6:13])

python

In [14]:
a = [-5, -3, -1, 0, 1, 3, 5]
b = list(map(lambda x: x + 3 if x > 0 else x - 3, a))
print(b)

[-8, -6, -4, -3, 4, 6, 8]

In [15]:
def print_max(f, *val):
    print(f(val))
print_max(max, 20, 22, 13, 25, 18)
print_max(min, 'z', 'y', 'd', 'm')

25
d

In [16]:
candidates = {'Hoang':40, 'Linh':20, 'Trung':35}
candidates['Ha'] = 25
print(candidates)

{'Hoang': 40, 'Linh': 20, 'Trung': 35, 'Ha': 25}

In [17]:
a = 8
b = 2
res = 'good' if a // b % 2 == 0 else 'bad'
print(res)

good

In [21]:
x = [i**2 for i in range(5)]
print(x)

[0, 1, 4, 9, 16]

In [22]:
names = ['GDucky', '16typh', 'RPTGonzo', 'Hydra', 'Ricky Star']
print(names[-2][2])

d